:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}
.all{
  display: block;
}
.all2{
  display: none;
}

.show-link {
  display: block;
  width: 70px;
}
.truncate{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.animate-message{
  animation: message 0.5s linear forwards;
}
.animate-message2{
  animation: message 0.5s linear forwards, message 0.5s 5s linear reverse forwards;
}
@keyframes message{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.7);
  }
}

.grid-qrcode {
  display: grid;
  grid-auto-flow: column;
  gap: 8rem;
}
.px-100 {
  padding-left: 25%;
  padding-right: 25%;
}
.px-110 {
  padding-left: 15%;
  padding-right: 15%;
}
.loading-animation {
  animation: loading 3s forwards infinite linear;
}
.text-adjust {
  font-size: 5rem /* 72px */;
  line-height: 1;
  color: green;
}
.form-size {
  max-width: 900px;
  overflow-y: scroll;
  height: 100vh;
  padding-left: 5rem;
  padding-right: 5rem;
}
.header-grid {
  width: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
}

.login-homepage-button {
  margin: 20px;
  margin-right: 0;
}
.signup-homepage-button {
  margin: 20px;
}
.thefront {
  z-index: 1;
  position: relative;
  backface-visibility: hidden;
}
.thecard {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  z-index: 1;
  max-width: 300px;
}
.w-120 {
  max-width: 27.5rem /* 384px */;
}
.background-notfound {
  background-image: url("../public/notfound.png");
  background-position: fixed;
  background-size: cover;
}
.scissors-background{
  background-image: url("../public/scissors-background.png");
  background-position: fixed;
  background-size: cover;
}
.notfound {
  background-color: rgb(0, 0, 0, 0.5);
}
.thecard:hover {
  transform: rotateY(180deg);
  z-index: 1;
}
.theback {
  position: absolute;
  z-index: 1;
 
  top: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: rgb(6, 224, 6);
  height: 100%;
}
.bar {
  display: none;
}
.max-w-8xl {
  max-width: 90rem;
}
.max-w-9xl {
  max-width: 91.8rem;
}
.max-w-10xl {
  max-width: 95rem;
}
@media screen and (min-width: 1200px) {
  .width-adjust {
    width: 105%;
  }
}
@media screen and (min-width: 425px) {
  .flex-qr {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1250px) {
  .px-100 {
    padding-left: 20%;
    padding-right: 20%;
  }
  .px-110 {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media screen and (max-width: 1024px) {
  .correct-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .px-100 {
    padding-left: 15%;
    padding-right: 15%;
  }
  .px-110 {
    padding-left: 10%;
    padding-right: 10%;
  }
.hidden-block{
  display: none;
}
}
@media (max-width: 768px) {
  .just {
      justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .form-size {
    overflow-y: initial;
    padding-left: 10%;
    padding-right: 10%;
  }
  .grid-qrcode {
    display: grid;
    grid-auto-flow: row;
    gap: 0;
  }

  .buttons {
    display: none;
  }
  .show-link {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .bar {
    display: block;
    position: fixed;
    left: 93%;
  }
  .profile-picture {
    width: 2rem;
    min-width: 2rem;
  }
  .px-100 {
    padding-left: 10%;
    padding-right: 10%;
  }
  .smaller-text {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
  }
  .small-text {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }
  .px-110 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 640px) {
  .hidden2{
    display: none;
  }
  .all{
    display: inline;
  }
  .all2{
    display: inline-block;
  }
  .justify-flex{
    justify-content: center;
    display:flex;
  }
  .m-30{
    padding-top: 8px;
  }
}
@media screen and (max-width: 620px) {
  .bar {
    display: block;
    position: fixed;
    left: 91.5%;
  }
  
  .notfound-header {
    font-size: 2.5rem;
    line-height: 1;
  }
  .notfound-body {
    font-size: 1.7rem;
    line-height: 1;
  }
}
@media screen and (max-width: 550px) {
  .bar {
    display: block;
    position: fixed;
    left: 90%;
  }
}
@media screen and (max-width: 500px) {
  .change-layout{
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 475px) {
  .bar {
    display: block;
    position: fixed;
    left: 88%;
  }
  .text-adjust {
    font-size: 3rem /* 72px */;
    line-height: 1;
  }
  .mxx-10 {
    margin-left: 2rem /* 80px */;
    margin-right: 2rem /* 80px */;
  }
  .smaller-text {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
  }
  .small-text {
    font-size: 2rem /* 36px */;
    line-height: 2.25rem /* 40px */;
  }
  .qr-width {
    left: 0%;
    position: relative;
    /* padding: 1rem; */
    /* max-width: 13rem; */
  }
  .align-div {
    justify-self: center;
  }
}

@media screen and (max-width: 400px) {
  .bar {
    display: block;
    position: fixed;
    left: 85%;
  }
  .small-text-sm{
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
  }
  .small-space{
    margin-top: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .pp {
    margin-left: 5px;
  }
}
